# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Big a priori files which can be obtained elsewhere
apriori_files/VMF*

# Files for testing
apriori_files/TEST*

# IVS masterfiles, should get from IVS with update-script
apriori_files/masterfiles/master*

# Binary files etc.
bin/*
include/*
lib/*
